<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961494742721-peiuiul2cqtlbfm4bbgonb1pimltr0kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961494742721-peiuiul2cqtlbfm4bbgonb1pimltr0kt</string>
	<key>API_KEY</key>
	<string>AIzaSyAXJg7MzEv3a0TjJMbgmOop34xkF5OO2cs</string>
	<key>GCM_SENDER_ID</key>
	<string>961494742721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nusketch</string>
	<key>PROJECT_ID</key>
	<string>nusketch</string>
	<key>STORAGE_BUCKET</key>
	<string>nusketch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961494742721:ios:5ec411f9eeac16c1e2c640</string>
</dict>
</plist>